<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>


    <link rel="stylesheet" href= "{{ url_for('static', filename = 'styles.css') }} ">
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'credentials.css') }} ">
    <script type="module" src="../../js/maps.js"></script>

    <!-- Scrolling script -->
    <script type = "text/javascript" src = "../../js/scroll.js"></script>



</head>
<body>

    <div class="nav" id = "nav">
        <div class="logo">

        </div>

        <div class="menu">
            {% if session["user"] %}
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="{{ url_for ('logout') }}">Log Out</a></li>
            </ul>

            {% else %}
            <ul>
                <li><a href="{{url_for('index') }}">Home</a></li>
                <li><a href="{{url_for('register') }}">Register</a></li>
                <li><a href="{{url_for('login') }}">Login</a></li>
                <li><a>{{ user }}</a></li>
                </li>
            </ul>
            {% endif %}

        </div>

    </div>


    <main>
        {% block main %}{% endblock %}
    </main>



</body>
</html>