{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    <div class="form_container">
            <div class="login">


                <form action="{{ url_for('login') }}" method="POST">

                    <div class="input_container">
                        <h1>Login</h1>
                        <input type="text" id = "username" name="username" placeholder="Username" required>
                        <input type="password" class = "password" id = "password1" name="password" placeholder="Password" required>
                        <input class = "button" type="submit" name="submit" value="Login">

                        <p>Don't have an account? <a href="{{url_for('register') }}">Click here!</a></p>

                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="flash-messages" style="background: red; color: white">
                        {% for message in messages %}
                            <div class = "eror">{{ message }}</div>
                        {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    </div>
                    
                </form>




            </div>


    </div>

{% endblock %}


