{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    <div class="container">
            <div class="login">
                <h1>Login</h1>

                <form action="{{ url_for('login') }}" method="POST">
                    <input type="text" id = "username" name="username" placeholder="Username" required>
                    <input type="password" class = "password" id = "password1" name="password" placeholder="Password" required>
                    <input class = "button" type="submit" name="submit" value="Login">

                    <p>Don't have an account? <a href="register.html">Click here!</a></p>
                </form>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="flash-messages">
                {% for message in messages %}
                    <div class = "eror">{{ message }}</div>
                {% endfor %}
                </div>
                {% endif %}
            {% endwith %}


            </div>


    </div>

{% endblock %}


