{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock %}

{% block main %}

    <div class="form_container">
        <div class="register">


            <form action="{{ url_for('register') }}" method="POST" id = "register">
                <div class="input_container">
                    <h1>Register</h1>
                    <input type="text" id = "username" name="username" placeholder="Username" required>
                    <input type="password" class = "password" id = "password1" name="password" placeholder="Password" required>
                    <input type="password" class = "password" id = "password2" name="confirm_password" placeholder="Confirm Password" required>
                    <input class = "button" type="submit" name="submit" value="Register">
                    <p>Already have an account? <a href="{{url_for('login') }}">Click here!</a></p>
                </div>
            </form>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="flash-messages">
                {% for message in messages %}
                    <div class = "eror">{{ message }}</div>
                {% endfor %}
                </div>
                {% endif %}
            {% endwith %}

        </div>
    </div>

{% endblock %}


