:root {
    /* Colors */
    /* Realtimecolors.com */

    --text: #0e2017;
    --background: #edf7f2;
    --primary-button: #367856;
    --secondary-button: #ffffff;
    --accent: #2e6649;

     /* Standard sizes */

    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Space Mono', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1:4.5rem;
        --fs-h2:3rem;
        --fs-h3: 1.25rem;
        --fs-body: 1.125rem;
    }
}

button {
    background-color: var(--primary-button);
    color: var(--secondary-button);
    padding: 1rem 2rem;
    border-radius:  5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent);
    color: var(--secondary-button);
}

input {
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem 0;
}

body {
    margin: 5px;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: var(--background);
    margin: 0;
    font-size: var(--fs-body);
    font-size: var(--fw-reg);
    line-height: 1.5;
}

/* Standard sizes in Tutorial that I really liked */

h1, h2, h3 {
    line-height: 1.1;
    font-size: 8vw;
    margin: 0rem;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

text {
    color: var(--text);
}



/* Nav Bar */
/* Nav bar */
.nav {
    position: fixed;
    width: 100%;
    z-index: 2;
}

/* Change color when scrolled */
/* https://www.youtube.com/watch?v=gbmV2Lh9dBM */
.nav.scrolled {
    background-color: var(--clr-dark);
    transition: background-color 0.4s ease-in-out;
}

.navbar {
    padding: 0.3em 0.3em;
    margin: 0;
    background-color: transparent;
    margin-right: 0.3em;
    
}

.navbar ul li a {
    list-style: none;
    margin: 0.5em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: var(--clr-accent);
}

a:link {
    color: white;
}

.navbar ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

@media (max-width: 600px) {
    .navbar ul { 
        justify-content: center;
    }
}

/* Home */
#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1552912470-ee2e96439539?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1035&q=80);
}



#home p {
    max-width: 50%;
}

#map {
    height: 100%;
}

/* Karenderyas */
#karenderyas {
    border: 1px solid black;
    height: auto;
}

#karenderyas h1, .subtitle {
    background-color: var(--primary-button);
    color: var(--secondary-button);
    text-align: center;
    margin: 0;
    padding: 0.5rem;
}

.post {
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
}

#karenderyas .container {
    display: grid;
    grid-template-columns: auto;
    width: auto;
    max-height: auto;
    min-height: fit-content;
    padding: 1rem;
    column-gap: 1rem;
}

.images img {
    
}

@media (min-width: 600px) {
    #karenderyas .container {
        grid-template-columns: auto;
    }
}

@media (max-width: 600px) {
    #karenderyas .container {
        grid-template-columns: auto;
        height: auto; 
    }
}
  
  
@media (min-width: 900px) {
    #karenderyas .container { 
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 900px) {
    #karenderyas .container { 
        height: auto;
    }
}


.karenderya {
    margin-top: 1rem;
    border: 1px dashed black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 600px) {
    .btnholders {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 800px) {
    .btnholders {
        display: flex;
        gap: 1rem;
    }
}

@media (min-width: 900px) {
    .btnholders {
        display: flex;
        gap: 1rem;
    }
}

/* Footer */
footer {
    border: 1px solid black;
}


/* Login and Registration form */
.form_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px black;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(19, 16, 16, 0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.774);

    border: 1px white solid;

    min-width: 500px;
    max-height: auto;
}

.input_container .button {
    cursor: pointer;
    background-color: var(--primary-button);
    color: white;
}

.input_container a {
    color: white;
}

.input_container a:hover {
    color: rgba(245, 203, 203, 0.151);
}

.input_container .button:hover {
     background-color: #173a28;
}

.input_container #input_img {
    background-color: white;
    color: black;
}

.input_container .geo {
    background-color: rgba(255, 255, 255, 0.507);
    color: black;
}

